# Treat all C# files as generated/documentation so they don't count
*.cs linguist-generated=true
*.cs linguist-detectable=false

# Force all Header files to be C++
*.h linguist-language=C++
*.h linguist-detectable=true

# Make sure your C++ logic is the 100% winner
*.cpp linguist-detectable=true
