# Mark C# UI and Resource files as "Vendored" (Ignore from stats)
*.designer.cs linguist-vendored
*.resx linguist-vendored

# Ensure your C logic and C# main logic are both counted equally
*.c linguist-detectable=true
*.cpp linguist-detectable=true
*.cs linguist-detectable=true
*.h linguist-detectable=true
